.footer {
    padding: 60px 0;
    background-color: $brand-color-bg;
}

.footer__flex {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.address__list{
        margin-top: 20px;
            font-style: normal;
            font-size: 14px;
            line-height: 1.7;
            color: $white-color;
}

.address__item {
    &:not(:last-child) {
            margin-bottom: 9px;
        }
}

.address__link {
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus{
        color: $brand-color-accent;
    }
}


.footer__social {
    margin-left: 70px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon__item {
    width: 44px;
    height: 44px;
}

.footer-icon__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: $white-color;
    background-color: rgba(255, 255, 255, 0.1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__item{
    &:not(:last-child){
    margin-right: 10px;
    }
}

.footer-icon__icon {
    margin-top: 12px;
    margin-left: 12px;
    fill: currentColor;
}

.footer-icon__link {
    &:hover,
    &:focus{
    color: $bgcolor-primary;
    background-color: $brand-color-accent;
    }
}

.footer__push {
    margin-left: auto;
}


.push__form {
    display: flex;
    align-items: center;
    width: 570px;
}

.form__label {
    margin-right: 12px;
}

.form__input {
    width: 358px;
    padding: 15px 16px;
    border: 1px solid $social-icon-color;

    border-radius: 4px;
    background-color: $brand-color-bg;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
    &:focus{
    border-color: $brand-color-accent;
    outline: $brand-color-accent;
    }
}

.form__input,
.form__input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}


.form__icon {
    fill: $white-color;
    margin-left: 10px;
}