%section {
    padding: 94px 0;
}

.features,
.work,
.team,
.clients,
.cardset{
    @extend %section;
}

.work {
    padding-top: 0;
}

.team{
    background-color: $bgcolor-secondary;
}