%section {
    padding: 94px 0;
}

.section-features,
.section-work,
.section-team,
.section-clients,
.section-cardset{
    @extend %section;
}

.section-work {
    padding-top: 0;
}

.section-team{
    background-color: $bgcolor-secondary;
}