  $text-color-primary: #212121;
  $text-color-secondary: #757575;
  $brand-color-accent: #2196f3;
  $brand-color-bg: #2f303a;
  $bgcolor-primary: #ffffff;
  $bgcolor-secondary: #f5f4fa;
  $social-icon-color: #afb1b8;
  $white-color: #ffffff;
  $border-solid-color: #eeeeee;
  $gap: 30px;
  $time-transition: cubic-bezier(0.4, 0, 0.2, 1);